.fc-day-today {
  background-color: inherit !important;
}

.fc-daygrid-event {
  overflow: hidden;
}

.fc-timegrid-event {
  overflow: hidden;
}


/* .calendar {
  height: 400px;
  width: 600px;
  background-color: red;
} */

.calendar-container .fc {
  height: 60vh;
  width: 50vw;
}

